
.DS_Store
Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata/sheikhatif.xcuserdatad/UserInterfaceState.xcuserstate
Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata/sheikhatif.xcuserdatad/UserInterfaceState.xcuserstate
/Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata/sheikhatif.xcuserdatad
/Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata
Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata/sheikhatif.xcuserdatad/UserInterfaceState.xcuserstate
/Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata
/Periphery Demo.xcodeproj/project.xcworkspace/xcuserdata
/Pods
/Periphery Demo.xcworkspace/xcuserdata
/vendor
